.comment-block {
    padding: 10px;
    &__list {
        background: $gray-100;
        padding: 5px;
        border-radius: 10px;
    }
    &__comment {
    }
    // comment
    &__author {
        display: flex;
    }
    &__author-avatar {
        border-radius: 50%;
        overflow: hidden;
        height: 20px;
    }
    &__author-name {
    }
    &__comment-bubble {
    }
    
    &__text {
        position: relative;
        background: $cyan;
        border-radius: 0.4em;
        padding: 8px;
        // margin-bottom: 22px;
        margin: 0;
        width: 200px;
    }
}
