.board {
    width: 350px;
    height: 100%;
    flex: 0 0 auto;
    background-color: $board-color;

    &--odd {
        background-color: $board-odd-color;
    }

    &__header {
        @extend .p-2;
    }

    &__tasklist {
        overflow-y: scroll;
        height: 100%;
        @include custom-scrollbar(15px, 10px, 4px, transparent);
        padding-bottom: 10px;
    }

    &__task {
        height: 150px;
        width: 95%;
        margin: 0 auto;
        border-radius: 10px;
        background-color: #fff;
        &:first-child {
            @extend .mt-2;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 20px;
        width: 20px;
        padding: 17px;
        color: $primary;
        background: $white;
        @extend .rounded-circle;
        @extend .btn;
        @extend .shadow;
    }

    &__no-tasks {
        padding-top: 200px;
    }

    &__addSection-text {
        padding-top: 360px;
    }
}

.task__avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.no-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;

    &__icon {
        font-size: 70px;
        margin-bottom: 15px;
    }
}
