.board-header {
    height: 60px;
    position: relative;
    @include flex(null, center);
    &:hover {
        .board-header__arrow {
            color: #fff;
        }
    }

    &__wrapper-add-btn-left {
        position: absolute;
        left: -17px;
        top: 0;
        height: 100%;
        width: 34px;
        padding: 0 2px;
        @include flex(center, center, center);
        cursor: default;
    }

    &__add-btn-left {
        padding: 0;
        opacity: 0;
        width: 0px;
        height: 0px;
        border: 0;
        transition: 0.4s ease;
        &:hover {
            color: $primary;
            opacity: 1;
            width: 30px;
            height: 30px;
        }
    }

    &__title {
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        &:focus {
            color: #404040;
            background: #fff !important;
        }
    }

    &__icon {
        font-size: 33px;
    }

    &__arrow {
        color: rgba(255, 255, 255, 0);
        @include flex(center, center, center);
        cursor: pointer;
    }

    &__arrow--active {
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
    }

    &__popUpMenu {
        @extend .card;
        position: absolute;
        width: 300px;
        left: 147px;
        top: 40px;
        z-index: 2;
        border-radius: 10px;
    }

    &__popUpMenu--disable {
        display: none;
    }
}
