.board-header{
    &__wrapperAddBtnLeft {
        position: absolute;
        left: -17px;
        top: 0;
        height: 100%;
        width: 34px;
        padding: 0 2px;
        @include flex(center, center,center);
        cursor: default;
        
    }

    &__addBtnLeft {
        padding: 0;
        color: $primary;
        background: #fff;
        border-radius: 50%;        
        @include flex(center, center,center);
        opacity: 0;
        width: 0px;
        height: 0px;
        transition: 0.4s ease;
        outline: none !important;
        border: 0;
        &:hover {
            opacity: 1;
            width: 30px;
            height: 30px
        }
    }

    &__title{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
        &:focus {
            color: #404040;
            background: #fff !important;
        }
    }

    &__icon {
        font-size: 33px;
    }

    &__arrow {
        color: rgba(255, 255, 255, 0);
        @include flex(center, center, center);
        cursor: pointer; 
    }

    &__arrow--active {
        color: rgba(255, 255, 255, 1);
        cursor: pointer; 

    }

    &__popUpMenu {
        @extend .card;
        position: absolute;
        width: 300px;
        left: 147px;
        top: 40px;
        z-index: 2;
        border-radius: 10px;
    }

    &__popUpMenu--disable {
        display: none;
    }
}