.selected-entity {
    @extend .bg-secondary;
    @extend .form-control;
    @include flex($j-content: space-between, $f-direction: row);
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    color: white;

    &__close {
        cursor: pointer;
    }
}

.selected-entity_wrapper {
    margin-bottom: 20px;
}