.result-search {
    list-style-type: none;
    padding: 0;

    &--scroll {
        max-height: 200px;
        overflow-y: scroll;
    }

    &__title {
        @extend .text-info;
        padding: 5px;
    }

    &__item {
        @extend .text-primary;
        cursor: pointer;
        padding-left: 25px;
    
        &:hover {
            @extend .bg-primary;
            @extend .text-light;
            border-radius: 5px;
        }
    }
}