.content {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        @extend .card-title;
        @extend .text-center;
        @extend .text-info;
        letter-spacing: 0.62em;
        font-weight: 300;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__container {
        @extend .card;
        @extend .shadow;
        @extend .p-3;
        @extend .mb-5;
        @extend .bg-white;
        @extend .rounded;
        width: 400px;
    }

    &__submit-button {
        @extend .btn;
        @extend .btn-primary;
        display: block;
        margin: 0 auto;
    }
} 