.actions {
    @include flex($a-items: center);
    height: 100%;
    list-style: none;

    &__item {
        cursor: pointer;
        padding: 10px 20px 10px 0;
    }

    &--menu-hide {
        @media screen and (max-width: 955px) {
            height: 0;
            display: none;
        }
    }

    &--menu-show {
        @media screen and (max-width: 955px) {
            @include flex(center);
            position: absolute;
            z-index: 9999;
            font-size: 32px;
            flex-direction: column;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: map-get($map: $colors, $key: "dark");
            transition: height 0.15s ease-out;
        }
    }
}
