.task-window {
    position: fixed;
    width: 700px;
    // top: 25%;
    // left: 50%;
    // margin-top: -100px; /* Negative half of height. */
    // margin-left: -250px;
    border-radius: 10px;
    @include flex(center, center);

    &__input {
        input {
            font-size: 20px;
            border: transparent;
            background: $gray-100;
            &:hover,
            &:focus {
                background: $gray-200;
            }
        }
    }

    &__select {
        width: 45%;
        font-weight: bold;
    }

    &__descripton {
        textarea {
            background: $gray-100;

            @include custom-scrollbar(10px, 10px, 2px);
            border: transparent;
            &:hover,
            &:focus {
                background: $gray-200;
            }
        }
    }

    &__submit {
        @extend .btn, .bg-blue;
        color: $white;
        display: block;
        margin: 0 auto;
        width: 150px;
    }

    &__form {
        width: 60%;
        padding: 7px;
        border-radius: 10px;
    }

    &__forms {
        display: flex;
        justify-content: space-between;
        width: 95%;
        @extend .p-3;
    }

    
}
