.task-window {
    // width: 60%;
    position: fixed;
    width: 500px;
    // height: ;
    top: 250px;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px;
    border-radius: 10px;
    @include flex(center,center)
}
