.header {
    @extend .w-100;
    @extend .bg-primary;
    @extend .shadow;
    color: white;
    height: $header;
    border-bottom: 1px solid #888;
    padding: 0 25px 0 25px;

    &__main-container {
        @extend .h-100;
        @extend .w-100;
        @include flex(space-between);
    }
}
