.comment-block {
    padding: 10px;
    &__list {
        background: $gray-100;
        padding: 5px;
        border-radius: 10px;
        height: 300px;
        overflow-x: auto;
        @include custom-scrollbar(10px, 10px, 2px);
        margin-bottom: 20px;
    }

    &__list-item {
        &:not(:last-child) {
            margin-bottom: 10px;
            border-bottom: 1px solid $gray-500;
        }
    }

    &__inputs-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__form-input {
        width: calc(100% - 75px);
        textarea {
            @include custom-scrollbar(10px, 10px, 2px);
        }
    }

    &__sent-btn {
        @extend .bg-blue;
        color: #fff;
    }
}

@media screen and (max-width: 768px) {
    .comment-block {
        
        &__list {
            height: calc(100vh - 255px);
            min-height: 100px;
        }

        &__form-wrapper {
            // position: absolute;
            // padding-top: 5px;
            // left: 0;
            // right: 0;
            // bottom: 2px;
            // margin: 0 auto;
            // width: 100%;
            background-color: #fff;
        }

        &__form {
            display: flex;
            justify-content: center;
        }
        &__inputs-wrapper {
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
        }
    }
}
