.comment-block {
    padding: 10px;
    &__list {
        background: $gray-100;
        padding: 5px;
        border-radius: 10px;
        height: 300px;
        overflow-x: auto;
        @include custom-scrollbar(10px, 10px, 2px);
        margin-bottom: 20px;
    }

    &__list-item {
        &:not(:last-child) {
            margin-bottom: 10px;
            border-bottom: 1px solid $gray-500;
        }
    }

    &__form {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__form-input {
        width: calc(100% - 75px);
        textarea {
            @include custom-scrollbar(10px, 10px, 2px);
        }
    }

    &__sent-btn {
        @extend .bg-blue;
        color: #fff;
    }
}

@media screen and (max-width: 768px) {
    .comment-block {
        height: calc(100vh - 290px);

        &__list {
            height: 100%;
        }
        
    }
}
