.tasklist {
    overflow-y: scroll;
    height: calc(100vh - (60px + 54px));
    @include custom-scrollbar(15px, 10px, 4px, transparent);

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    &--scroll {
        &::-webkit-scrollbar-thumb {
            background-color: #888;
        }
    }

    &__add-btn {
        padding-bottom: 30px;
    }
    &__no-tasks {
        padding-top: 200px;
    }
}
