.login {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #e0f5ff;

    &__title {
        letter-spacing: 0.62em;
        font-weight: 300;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__container {
        width: 400px;
    }

    &__sumbitButton {
        display: block;
        margin: 0 auto;
    }
} 