$projects-height: map-get($map: $page-size, $key: "height");
$projects-width: map-get($map: $page-size, $key: "width");

.projects {
    @include size($projects-width, $projects-height);
    overflow-y: auto;

    
    &__body {
        padding-left: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
    }

    &__content {
        @include flex(flex-start);
        @include flex-position(row, wrap);
    }
}
