$projects-height: map-get($map: $page-size, $key: "height");
$projects-width: map-get($map: $page-size, $key: "width");

.projects {
    @include size($projects-width, $projects-height);
    overflow-y: scroll;

    &__body {
        padding-left: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
    }

    &__config-panel {
        @include flex($j-content: center);
    }

    &__content {
        @include flex(flex-start, $f-direction: row, $f-wrap: wrap);

        @media screen and (max-width: 955px) {
            @include flex(center);
        }

        &--position {
            @include flex(center);
        }
    }
}

.config-panel {
    @include flex($a-items: center, $j-content: space-evenly, $f-direction: column);
    height: 100px;

    &__switcher {
        height: 100%;
        @include flex($a-items: center);
    }

    @media screen and (max-width: 955px) {
        flex-wrap: wrap;
    }
}

.config-panel__switcher_wrapper {
    margin-left: 10px;

    @media screen and (max-width: 695px) {
        margin-top: 10px;
    }
}

.projects_config-panel_wrapper {
    margin: 20px;
}
