$search-light: map-get(
    $map: $colors,
    $key: "light",
);

.search {
    @include flex();
    border-bottom: 1px solid $search-light;

    @media screen and (max-width: 480px) {
        width: 24px;
        border: none;
    }

    &__input {
        @include placeholder($search-light, 0.8);
        @extend .text-light;
        border: 0;
        background: transparent;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        &:focus {
            @include placeholder($search-light, 1);
            outline: none !important;
        }
        &::placeholder {
            color: $gray-300;
        }
    }

    &__result {
        @extend .shadow;
        @extend .bg-light;
        border-radius: 5px;
        position: absolute;
        width: 300px;
    }
}

.search_actions__items_wrapper {
    margin-right: 20px;
}
