@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin bg-colour-size($bg-colour, $width, $height) {
    background: $bg-colour;
    @include size($width, $height);
}

@mixin flex($j-content: null, $a-items: null, $a-content: null) {
    display: flex;
    justify-content: $j-content;
    align-items: $a-items;
    align-content: $a-content;
}

@mixin flex-position($f-direction: null, $f-wrap: null) {
    display: flex;
    flex-direction: $f-direction;
    flex-wrap: $f-wrap;
}