// common
@import "./mixins";
@import "./variables";

// bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// components css
@import "../components/Login/login";
@import "../components/Header/header";
@import "../components/Actions/actions";
@import "../components/Section/section";
@import "../components/Project/project";
@import "../components/Projects/projects";
@import "../components/SectionList/sectionList";
@import "../components/Registration/registration";
@import "../components/Registration/registration";
@import "../components/Section/SectionHeader/sectionHeader";

body {
    background: #fffefe;
}

@for $i from 0 to 20 {
    $i: $i * 5;
    
    .w-#{$i} {
        width: $i !important;
    }

    .h-#{$i} {
        height: $i !important;
    }
}
