// common
@import "./mixins";
@import "./variables";

// bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// components css
@import "../components/Login/login";
@import "../components/Header/header";
@import "../components/Search/search";
@import "../components//Action//action";
@import "../components/Actions/actions";
@import "../components/Section/section";
@import "../components/Project/project";
@import "../components/Projects/projects";
@import "../components/SectionList/sectionList";
@import "../components/Registration/registration";
@import "../components/Registration/registration";
@import "../components/NotAvailable/not-available";
@import "../components/ProfileActions/profile-actions";
@import "../components/AddProjectForm/add-project-form";
@import "../components/Section/SectionHeader/sectionHeader";
@import "../components/Section/SectionHeader/PopUpMenu/popUpMenu";

body {
    background: #fffefe;
}

@for $i from 0 to 20 {
    $i: $i * 5;
    
    .w-#{$i} {
        width: #{$i}% !important;
    }

    .h-#{$i} {
        height: #{$i}% !important;
    }
}

@for $i from 4 to 24 {
    $i: $i * 2;

    .fs-#{$i} {
        font-size: #{$i}px !important;
    }
}

@each $name,$color in $colors {
    .bg-#{$name} {
        background: $color !important;
    }

    .text-#{$name} {
        color: $color !important;
    }   
}
